# Entorno
.env
.env.local

# Dependencias
node_modules/
.pnp
.pnp.js

# Build
dist/
build/
frontend/dist/

# Base de datos SQLite
data/
*.db
*.sqlite

# Logs
*.log
npm-debug.log*

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Docker
.docker/
